# SPDX-FileCopyrightText: Copyright © 2026 Idiap Research Institute <contact@idiap.ch>
# SPDX-FileContributor: William Droz <william.droz@idiap.ch>
# SPDX-License-Identifier: GPL-3.0-only

LLM_USE_OPENRESPONSES=false
LLM_API_KEY=
# Replace product id
LLM_BASE_URL=https://api.infomaniak.com/2/ai/PRODUCT_ID/openai/v1/
LLM_MODEL_NAME=moonshotai/Kimi-K2.5