# SPDX-FileCopyrightText: Copyright © 2026 Idiap Research Institute <contact@idiap.ch>
# SPDX-FileContributor: William Droz <william.droz@idiap.ch>
# SPDX-License-Identifier: GPL-3.0-only

# Site here https://ppq.ai

LLM_API_KEY=
LLM_USE_OPENRESPONSES=false
LLM_BASE_URL=https://api.ppq.ai
LLM_MODEL_NAME=gpt-5.4
