# uv tool install --python=3.13 vllm --torch-backend=auto --extra-index-url https://wheels.vllm.ai/nightly
# vllm serve Qwen/Qwen3.5-9B --port 8000 --tensor-parallel-size 1 --max-model-len 262144 --reasoning-parser qwen3 --enable-auto-tool-choice --tool-call-parser qwen3_coder
LLM_API_KEY=test
LLM_USE_OPENRESPONSES=false
LLM_MODEL_NAME=Qwen/Qwen3.5-9B
LLM_BASE_URL=http://localhost:8000/v1
